<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Spam Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Email/SMS Spam Classifier</h1>
        <textarea id="inputText" placeholder="Enter email text to classify"></textarea>
        <button onclick="analyzeEmail()">Classify  </button>
        <div id="parentResult">
            <div id="result" class="result-box"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
